:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  padding: 0;
  margin: 0;
}


label {
  display: block;
}

select{
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}


.form {
  width: 400px;
  margin: 0 auto;
}


input[type="text"],
[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}


input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}


nav {
  background-color: #eee;
}


nav ul {
  margin: 0;
}


nav ul li {
  display: inline-block;
  padding: 10px;
}


a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}


.dashboard {
  width: 500px;
  margin: auto;
}


.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}
.successMessage {
  background-color: #c5e6cf;
  color: green; /* Color verde para mensajes de éxito */
  padding: 10px; /* Espacio inferior */
}


.errorMessage2 {
  color: #a94442;
  font-size: 14px; /* Tamaño de letra más pequeño */
  padding: 10px;
}


.error {
  border: 2px solid  #a94442;
}
n/* Navigation.css */

/* Navigation.css */

.navigation {
  position: fixed; /* Fija la barra de navegación en la pantalla */
  top: 0;
  width: 100%; /* Ancho completo de la barra de navegación */
  background-color: #4CAF50; /* Cambia este valor al color que desees */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 10px 20px; /* Espaciado interno */
}

.navigation ul {
  list-style: none; /* Elimina las viñetas de la lista */
  padding: 0;
  margin: 0;
  display: flex; /* Alinea los elementos en fila */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.navigation ul li {
  margin-right: 20px; /* Espaciado entre los elementos de la lista */
}

.navigation ul li.logout {
  margin-left: auto; /* Empuja el botón de Logout a la orilla derecha */
}

button {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Esquinas redondeadas */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
